* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body {
    width: 100%;
    height: 100%;
    font-family: 'Cormorant Upright', serif;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
}
body {
    min-height: 125vh;
    background: url(https://images.pexels.com/photos/7083683/pexels-photo-7083683.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
    background-size: cover;
    background-position: top;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff,
    transparent);
    transition: .3s;
}
.header:hover:after {
    left: 100%;
}
.logo {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Sulphur Point', sans-serif;
}
.navbar a {
    font-size: 1.25rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Sulphur Point', sans-serif;
    margin-left: 40px;
    position: relative;
}
.navbar a::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0%;
    transform: translateY(-50%);
    background: #ffffff;
    transition: 0.3s;
}
.navbar a:hover::before {
    width: 100%;
    display: none;
}
#check {
    display: none;
}
.icons {
    position: absolute;
    right: 5%;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
}
.text-box {
    color: #ffffff;
    position: absolute;
    top: 30%;
    padding: 1.5% 4%;
    
}
.text-box p {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}
.text-box h1 {
    font-size: 90px;
    line-height: 120px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    background-image: url(back.png);
    -webkit-background-clip: text;
    background-position: 5 5;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0;
    text-align: justify;
}
.text-box .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.text-box a {
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.text-box a span {
    font-size: 20px;
    line-height: 20px;
    margin-left: 5px;
}
.text-box span {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}
.btn {
    border: 1px solid #ffffff;
    border-radius: 30px;
    background: none;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}
.btn1 {
    color: red;
}
.btn2 {
    color: blue;
}
.btn1:hover {
    color: blue;
}
.btn2:hover {
    color: red;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}
.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn2::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn1:hover::before {
    height: 180%;
}
.btn2:hover::before {
    height: 180%;
}






/* BREAK POINTS */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
    
    .navbar a::before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 0%;
        transform: translateY(-50%);
        background: #ecb9f6;
        transition: 0.3s;
    }
    .navbar a:hover::before {
        width: 100%;
        display: none;
    }
}
@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
        display: none;
    }
    .icons #close-icon {
        display: none;
    }
    #check:checked~.icons #close-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 0.2rem rgba(0,0,0,0.1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar {
        height: 17.7rem;
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        color: #ecb9f6;
        transform: translateY(-50%);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    .navbar a::before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 0%;
        transform: translateY(-50%);
        background: #ecb9f6;
        transition: 0.3s;
    }
    .navbar a:hover::before {
        width: 100%;
        display: none;
    }
}
